/* Estilamiento*/
*{
  margin:0;
  padding:0;
}


#tit1{
   font-family: Arial;  
    color: red;
    font-size:2.0em; 
    text-align:center; 
    font-weight: bold;  
    margin-bottom:15px;	
}

#subtit{
	font-family: Arial;  
    color: #000080;
    font-size:1em; 
    text-align:left; 
    font-weight: bold;  
    margin: 10px 0 10px 10px;
	
}	

#contenido1_1{
	margin: 0 10px 0 10px;
   font-family: Arial;  
    color: black;
    font-size:0.8em; 
    text-align:justify;     
}

